{% comment  %}
    name: str,
    value: str,
    label: str,
    type = "checkbox": "checkbox" | "radio"
    checked = True: True | False
    hyperscript = False: False | str
{% endcomment %}

<div class="form-check my-2">
    <input id="{{ value }}-input"
        class="form-check-input"
        type="{{ type|default:'checkbox' }}"
        name="{{ name }}"
        value="{{ value }}"
        {% if checked %}checked{% endif %}
        {% if hyperscript %}
            _="{{ hyperscript }}"
        {% endif %}
    />
    <label class="form-check-label" for="{{ value }}-input">
        {{ label }}
    </label>
</div>