<div class="modal fade" id="global-modal" tabindex="-1" aria-labelledby="global-modal-header">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                {% if status == 'success' %}
                    <h1 class="modal-title fs-5 text-success d-flex flex-row align-items-center justify-content-between gap-2" id="global-modal-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        {{ modal_title }}
                    </h1>
                {% elif status == 'fail' %}
                    <h1 class="modal-title fs-5 text-danger d-flex flex-row align-items-center justify-content-between gap-2" id="global-modal-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        {{ modal_title }}
                    </h1>
                {% endif %}
                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button></button>
            </div>
            <div class="modal-body">
                <p>{{ modal_text }}</p>
                <pre>{{ error_text }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
    <script>
        window.criticus.modal = new bootstrap.Modal(document.getElementById('global-modal'));
        window.criticus.modal.show();

        function closeModal() {
            window.criticus.modal.hide();
            setTimeout(() => {
                window.criticus.modal.dispose();
            }, 500);
            document.getElementById('global-modal').remove();
        }
    </script>
</div>