{% extends 'base.html' %} {% block title %}Plain Text to JSON{% endblock %}
{%block content %}
<div class="container-fluid">
    <h1 class="text-center">Plain Text to JSON</h1>
    <form hx-post="{% url 'txt2json' %}"
        hx-target="#modals"
        hx-swap="innerHTML">
        <fieldset class="border border-primary p-2">
            <legend class="mt-4">Units to Convert</legend>

            {% include '_checkbox.html' with name="all-or-range" value="all_verses_in_file" label="All verses in file" type="radio" checked=True hyperscript="on change if me.checked add @disabled to .units then remove @disabled from #auto-input then remove @disabled from #inputFile then add @required to #inputFile end" only %}

            <div class="d-flex flex-row gap-4 align-items-center my-2">
                {% include '_checkbox.html' with name="all-or-range" value="range_of_verses" label="Range of verses" type="radio" hyperscript="on change if me.checked add @disabled to .units then remove @disabled from .range then add @required to .units then remove @disabled from #auto-input then remove @disabled from #inputFile then add @required to #inputFile end" only %}
                {% include '_input_floating.html' with name="range-from" label="From" classes="range units" disabled=True only %}
                {% include '_input_floating.html' with name="range-to" label="To" classes="range units" disabled=True only %}
            </div>
            <div class="d-flex flex-row flex-wrap flex-lg-nowrap gap-4 align-items-center my-2 w-100">
                {% include '_checkbox.html' with name="all-or-range" value="single_verse" label="Single Verse" type="radio" hyperscript="on change if me.checked add @disabled to .units then remove @disabled from .ref then add @checked to #manual-input then add @disabled to #auto-input then remove @disabled from .ranges then add @required to .ranges then remove @required from #inputFile then add @disabled to #inputFile end" only %}
                {% include '_input_floating.html' with name="single-ref" label="Verse Number" classes="ref units" disabled=True only %}
                <div class="input-group scopes" id="input-text" style="min-width: 360px;">
                    {% include '_input_floating.html' with id="inputText" name="input_text" label="Text" classes="ref units" disabled=True only %}
                    <button type="button" class="btn btn-info p-1" id="normalize" onclick="addTask('normalize', 'inputText', document.getElementById('inputText').value)" title="Remove diacritics">Normalize</button>
                </div>
            </div>
        </fieldset>

        <!-- Transcription Info -->

        <fieldset class="border border-primary border-top-0 p-2">
            <legend class="mt-4">Transcription Info</legend>

            <div class="d-flex flex-row gap-4 align-items-center my-2">
                {% include '_checkbox.html' with name="ref-prefix" value="manual" label="Manual" type="radio" hyperscript="on change if me.checked remove @disabled from .ranges then add @required to .ranges end" only %}
                {% include '_input_floating.html' with name="siglum" label="Siglum" classes="ranges" disabled=True only %}
                {% include '_input_floating.html' with name="unit-prefix" label="Verse Chapter" classes="ranges" disabled=True only %}
            </div>
            {% include '_checkbox.html' with name="ref-prefix" value="auto" label="Auto from file name" type="radio" checked=True hyperscript="on change if me.checked add @disabled to .ranges then remove @required from .ranges end" only %}
            
        </fieldset>

        <!-- Conversion Scope -->

        <div class="input-group scopes my-1" id="input-file">
            {% include '_input_floating.html' with id="inputFile" name="input_file" label="Input File" value=settings.txt2json_input_file required=True style="direction: rtl; text-align: right;" only %}
            <button type="button" class="btn btn-info text-nowrap" id="dirPicker" onclick="addTask('pick_file', 'inputFile', null, 'txt')">Browse</button>
        </div>

        <div class="input-group my-1">
            {% include '_input_floating.html' with id="outputDir" name="output_directory" label="Output Folder" value=settings.txt2json_output_dir style="direction: rtl; text-align: right;" required=True only %}
            <button type="button" class="btn btn-info text-nowrap" id="dirPicker" onclick="addTask('pick_directory', 'outputDir')">Browse</button>
        </div>

        <button type="submit" class="btn btn-primary w-100">
            <span id="convert-btn-txt">Convert</span>
        </button>
    </form>
  
</div>


{% endblock %}